.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.jc-end {
    justify-content: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-space-around {
    justify-content: space-around;
}

.ali-center {
    align-items: center;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-row-2 {
    grid-template-rows: repeat(2, 1fr);
}