@import "var.scss";

body {
    background-color: $black;
    height: 100vh;
    font-family: "tahoma";
}

p {
    font-size: $f-medium;
}

h3 {
    font-weight: 500;
    font-size: $f-large;
}

h4 {
    font-weight: 500;
    font-size: $f-medium;
}

.menu-desktop {
    display: none;
}

.menu-mobile {
    display: none;
    position: fixed;
    background-color: $black;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;

    .profile {
        img {
            width: 80px;
        }
    }

    .menu-info {
        gap: 20px;
        height: 100%;
        font-size: $f-large;
    }
}

.active {
    display: block;
}

.main-container {
    padding: 10px;
    background-color: $black;
    height: 100%;
    width: 100vw;
    align-items: center;
    color: $light-orange;
    font-size: $f-small;
}

.container-menu {
    width: 100%;

    .container-logo {
        text-align: center;

        h1 {
            margin: 10px;
            font-size: $f-Xlarge;
        }
    }

    .menu {
        z-index: 99;
        position: relative;
        top: 40px;
        padding: 0px 20px;
        overflow: hidden;
    }
}

.canvasjs-chart-canvas {
    z-index: 0;
}


// .stroke{
//     p{
//         border:2px solid $light-orange;
//         padding: 5px;
//         border-radius: 10px;

//     }
// }
// .center{
//     img{
//         width: 100%;
//     }
// }
.card {
    // display: flex;
    background-color: $red;
    // width: 80vw;
    margin: 16px 0px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

#card2 {
    display: flex;

}

// }

#card4 {
    font-size: $f-xxs;
}

.container-minicard {
    overflow: auto;
    gap: 16px;
    width: 80vw;

    .minicard {
        background-color: $red;
        text-align: center;
        padding: 20px;
        border-radius: 10px;

        img {
            margin-top: 5px;
        }
    }
}

.container-minicard::-webkit-scrollbar {
    display: none;
}

.hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

    &:hover {
        transform: scale(1.1);
    }
}

.flex-row {
    flex-direction: column;
}