/*COLOR*/

$green:#0CA85D;
$red:#CC4343;
$brown:#632714;
$orange:#EBA10F;
$light-orange:#F8EFD9;
$light-green:#00FF60;
$black:#2E2E2E;


/*FONT SIZE*/

$f-size:14px;
$f-xxs:0.4em;
$f-xs:0.8em;
$f-small:1em;
$f-medium:1.2em;
$f-large:1.5em;
$f-Xlarge:2em;

